[Desktop Entry]
Name=Shortcut
Comment=Make app shortcuts
Exec=shortcut-app
Icon=${SNAP}/meta/gui/shortcut-app.svg
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
Keywords=Shortcut;Icons;Pin;Launch;
